PORT=4000
DB_HOST=217.182.104.153
DB_PORT=5432
DB_USER=root
DB_PASSWORD=examplepassword
DB_NAME=fov
FFMPEG_PATH=/opt/homebrew/bin/ffmpeg
MEDIA_ROOT=./media
TWITCH_CLIENT_ID=YOUR_CLIENT_ID_HERE
TWITCH_CLIENT_SECRET=YOUR_CLIENT_SECRET_HERE